*{
    padding:0px;
    margin:0px;
}
body{
    background-color: bisque;
    text-align:center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:5vmin;
}
.board{
    height:60vmin;
    width:60vmin;
    border:2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
}
.cell{
    height:17vmin;
    width:17vmin;
    font-size: 10vmin;
    background-color: aquamarine;
}
.btn{
    padding:1vmin;
    margin:1vmin;
    color:white;
    margin-bottom: 2vmin;
    background-color: black;
}
.btn:hover{
    background-color: aliceblue;
    color:black;
}
#winner{
    display: none;
    width:60vmin;
    margin-top:30vmin;
    height: 60vmin;
}

/*
#reset{
    padding:1vmin;
    color:white;
    margin-bottom: 2vmin;
    background-color: black;
}
#reset:hover{
    background-color: aliceblue;
    color:black;
}
#new:hover{
    background-color: aliceblue;
    color:black;
}
#new{
    padding:1vmin;
    margin-top:2vmin;
    color:white;
    background-color: black;
}

}*/